<!-- Begin sidebar -->
<aside class="sidebar items">
    <div class="sidebar-item item">
        <form action="#!" method="post">
            <div class="form-field">
                <label for="sidebar-field-search" class="form-field-label">Search...</label>
                <input type="search" class="form-field-input" name="Search" value="" autocomplete="off" required="required" id="sidebar-field-search">
                <button type="submit" class="search-btn"><i class="material-icons md-22">search</i></button>
            </div>
        </form>
    </div>
    <div class="sidebar-item item">
        <div class="section-bgc sibebar-item-bg-style">
            <p class="sidebar-item-heading item-heading">Sign Up to News</p>
            <p class="sidebar-item-desc">Subscribe to our news to get the latest updates and offers</p>
            <form action="#!" method="post" class="subscribe-news-form">
                <div class="form-field">
                    <label for="subscribe-news-email" class="form-field-label">Your Email</label>
                    <input type="email" class="form-field-input" name="SubscribeEmail" value="" autocomplete="off" required="required" id="subscribe-news-email">
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn btn-wide ripple"><span>Send Message</span></button>
                </div>
            </form>
        </div>
    </div>
    <div class="sidebar-item item">
        <p class="sidebar-item-heading item-heading">Featured Tags</p>
        <ul class="sidebar-tags">
            <li><a href="#!">Software</a></li>
            <li><a href="#!">Development</a></li>
            <li><a href="#!">Programming</a></li>
            <li><a href="#!">Software</a></li>
            <li><a href="#!">Development</a></li>
            <li><a href="#!">IT</a></li>
        </ul>
    </div>
    <div class="sidebar-item item">
        <p class="sidebar-item-heading item-heading">Recent Posts</p>
        <ul class="sidebar-posts">
            <li>
                <a href="#!" class="sidebar-post">
                    <div class="sidebar-post-img img-style">
                        <img data-src="assets/img/news-img-1.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="sidebar-post-title">Benefits of Async/Await in Programming</div>
                </a>
            </li>
            <li>
                <a href="#!" class="sidebar-post">
                    <div class="sidebar-post-img img-style">
                        <img data-src="assets/img/news-img-2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="sidebar-post-title">Key Considerations and Warnings of iPaaS</div>
                </a>
            </li>
            <li>
                <a href="#!" class="sidebar-post">
                    <div class="sidebar-post-img img-style">
                        <img data-src="assets/img/news-img-3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="sidebar-post-title">Usage of Hibernate Query Language</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-item item">
        <div class="section-bgc sibebar-item-bg-style">
            <p class="sidebar-item-heading item-heading">Categories</p>
            <ul class="sidebar-cat">
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Startup</a>
                    <span class="sidebar-cat-count">25</span>
                </li>
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Software Development</a>
                    <span class="sidebar-cat-count">14</span>
                </li>
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Hybrid Cloud Management</a>
                    <span class="sidebar-cat-count">20</span>
                </li>
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Software Solutions</a>
                    <span class="sidebar-cat-count">3</span>
                </li>
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Creating Better Software</a>
                    <span class="sidebar-cat-count">18</span>
                </li>
                <li class="sidebar-cat-item">
                    <a href="#!" class="sidebar-cat-link">Through Design Thinking</a>
                    <span class="sidebar-cat-count">9</span>
                </li>
            </ul>
        </div>
    </div>
</aside><!-- End sidebar -->