<!-- Begin main menu -->
<nav class="main-mnu">
    <ul class="main-mnu-list main-mnu-list-min">
        <li class="menu-item-has-children">
            <a href="index.html" data-title="Home">
                <span>Home</span>
                <i class="material-icons">expand_more</i>
            </a>
            <ul>
                <li><a href="index.html" data-title="Home 1"><span>Home 1</span></a></li>
                <li><a href="home-2.html" data-title="Home 2"><span>Home 2</span></a></li>
                <li><a href="home-3.html" data-title="Home 3"><span>Home 3</span></a></li>
                <li><a href="home-shop-1.html" data-title="Home shop 1"><span>Home shop 1</span></a></li>
                <li><a href="home-shop-2.html" data-title="Home shop 2"><span>Home shop 2</span><div class="mnu-label">new</div></a></li>
                <li><a href="home-shop-3.html" data-title="Home shop 3"><span>Home shop 3</span><div class="mnu-label">new</div></a></li>
                <li><a href="home-4.html" data-title="Home 4"><span>Home 4</span><div class="mnu-label">new</div></a></li>
                <li><a href="home-5.html" data-title="Home 5"><span>Home 5</span><div class="mnu-label">new</div></a></li>
                <li><a href="home-6.html" data-title="Home 6"><span>Home 6</span><div class="mnu-label">new</div></a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="services.html" data-title="Services">
                <span>Services</span>
                <i class="material-icons">expand_more</i>
            </a>
            <ul>
                <li><a href="services.html" data-title="Services icon 1"><span>Services icon 1</span></a></li>
                <li><a href="services-2.html" data-title="Services icon 2"><span>Services icon 2</span></a></li>
                <li><a href="services-3.html" data-title="Services icon 3"><span>Services icon 3</span></a></li>
                <li><a href="services-image-1.html" data-title="Services image 1"><span>Services image 1</span><div class="mnu-label">new</div></a></li>
                <li><a href="services-image-2.html" data-title="Services image 2"><span>Services image 2</span><div class="mnu-label">new</div></a></li>
                <li><a href="services-image-3.html" data-title="Services image 3"><span>Services image 3</span><div class="mnu-label">new</div></a></li>
                <li><a href="services-image-4.html" data-title="Services image 4"><span>Services image 4</span><div class="mnu-label">new</div></a></li>
                <li><a href="single-services.html" data-title="Single service"><span>Single service</span></a></li>
            </ul>
        </li>
        <li class="menu-item-has-children open main-mnu-item-mega-mnu">
            <a href="#!" data-title="Pages">
                <span>Pages</span>
                <i class="material-icons">expand_more</i>
            </a>
            <div class="main-sub-mnu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row main-sub-mnu-links">
                                <div class="col-6 mega-mnu-item">
                                    <h5 class="mega-mnu-heading">Features</h5>
                                    <ul class="main-sub-mnu-list">
                                        <li><a href="ui.html" data-title="UI elements"><span>UI elements</span><div class="mnu-label">hot</div></a></li>
                                        <li><a href="index-4.html" data-title="Header/Footer Default"><span>Header/Footer Default</span></a></li>
                                        <li><a href="index-2.html" data-title="Header/Footer Minimal"><span>Header/Footer Minimal</span></a></li>
                                        <li><a href="index-3.html" data-title="Header/Footer Center"><span>Header/Footer Center</span></a></li>
                                        <li><a href="icon-items.html" data-title="Icon items"><span>Icon items</span><div class="mnu-label">new</div></a></li>
                                        <li><a href="image-items.html" data-title="Image items"><span>Image items</span><div class="mnu-label">new</div></a></li>
                                        <li><a href="items-of-numbers.html" data-title="Items of numbers"><span>Items of numbers</span><div class="mnu-label">new</div></a></li>
                                        <li><a href="tables.html" data-title="Tables"><span>Tables</span></a></li>
                                        <li><a href="tabs-and-accordions.html" data-title="Tabs & Accordions"><span>Tabs & Accordions</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-6 mega-mnu-item">
                                    <h5 class="mega-mnu-heading">Additional Pages</h5>
                                    <ul class="main-sub-mnu-list">
                                        <li><a href="careers.html" data-title="Careers"><span>Careers</span><div class="mnu-label">new</div></a></li>
                                        <li><a href="about-us.html" data-title="About us"><span>About us</span></a></li>
                                        <li><a href="single-job.html" data-title="Single job"><span>Single job</span><div class="mnu-label">new</div></a></li>
                                        <li><a href="pricing.html" data-title="Pricing"><span>Pricing</span></a></li>
                                        <li><a href="team.html" data-title="Our Team"><span>Our Team</span></a></li>
                                        <li><a href="team-2.html" data-title="Our Team 2"><span>Our Team 2</span></a></li>
                                        <li><a href="brands.html" data-title="Brands"><span>Brands</span></a></li>
                                        <li><a href="single-project.html" data-title="Single project"><span>Single project</span></a></li>
                                        <li><a href="coming-soon.html" data-title="Coming Soon"><span>Coming Soon</span></a></li>
                                        <li><a href="faq.html" data-title="FAQ"><span>FAQ</span></a></li>
                                        <li><a href="testimonials.html" data-title="Testimonials"><span>Testimonials</span></a></li>
                                        <li><a href="search-results.html" data-title="Search results"><span>Search results</span></a></li>
                                        <li><a href="forms.html" data-title="Forms"><span>Forms</span></a></li>
                                        <li><a href="404.html" data-title="404 Page"><span>404 Page</span></a></li>
                                        <li><a href="404-2.html" data-title="404 Page 2"><span>404 Page 2</span></a></li>
                                        <li><a href="privacy-policy.html" data-title="Privacy policy"><span>Privacy policy</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 main-sub-mnu-banner">
                            <div class="main-sub-mnu-slider" data-flickity='{ "bgLazyLoad": 1, "bgLazyLoad": true, "fade": true, "prevNextButtons": true, "pageDots": false, "pauseAutoPlayOnHover": false }'>
                                <a href="#!" class="mnu-slider-item align-items-end" data-flickity-bg-lazyload="assets/img/mnu-banner.jpg">
                                    <div>
                                        <h5 class="mnu-slider-item-subtitle">UX AND DESIGN</h5>
                                        <h4 class="mnu-slider-item-title">Mobile App Finance</h4>
                                    </div>
                                </a>
                                <a href="#!" class="mnu-slider-item align-items-end" data-flickity-bg-lazyload="assets/img/mnu-banner.jpg">
                                    <div>
                                        <h5 class="mnu-slider-item-subtitle">UI AND DESIGN</h5>
                                        <h4 class="mnu-slider-item-title">Mobile App</h4>
                                    </div>
                                </a>
                                <a href="#!" class="mnu-slider-item align-items-end" data-flickity-bg-lazyload="assets/img/mnu-banner.jpg">
                                    <div>
                                        <h5 class="mnu-slider-item-subtitle">UX AND DESIGN</h5>
                                        <h4 class="mnu-slider-item-title">Web App</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children main-mnu-item-mega-mnu">
            <a href="shop.html" data-title="Shop">
                <span>Shop</span>
                <i class="material-icons">expand_more</i>
            </a>
            <div class="main-sub-mnu">
                <div class="container">
                    <div class="row">
                        <div class="col-3 mega-mnu-item">
                            <h5 class="mega-mnu-heading">Shop layouts</h5>
                            <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                <li><a href="shop-fullwidth.html" data-title="Shop fullwidth"><span>Shop fullwidth</span></a></li>
                                <li><a href="shop.html" data-title="Shop left sidebar"><span>Shop left sidebar</span></a></li>
                                <li><a href="shop-right-sidebar.html" data-title="Shop right sidebar"><span>Shop right sidebar</span></a></li>
                            </ul>
                        </div>
                        <div class="col-3 mega-mnu-item">
                            <h5 class="mega-mnu-heading">Product Pages</h5>
                            <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                <li><a href="product-single.html" data-title="Single Product"><span>Single Product</span></a></li>
                                <li><a href="product-single2.html" data-title="Single Product 2"><span>Single Product 2</span></a></li>
                                <li><a href="product-variable.html" data-title="Variable Product"><span>Variable Product</span></a></li>
                                <li><a href="product-group.html" data-title="Group Product"><span>Group Product</span></a></li>
                                <li><a href="product-affiliate.html" data-title="Affiliate Product"><span>Affiliate Product</span></a></li>
                            </ul>
                        </div>
                        <div class="col-3 mega-mnu-item">
                            <h5 class="mega-mnu-heading">Product Style</h5>
                            <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                <li><a href="shop.html" data-title="Product Style 1"><span>Product Style 1</span></a></li>
                                <li><a href="shop2.html" data-title="Product Style 2"><span>Product Style 2</span></a></li>
                                <li><a href="shop3.html" data-title="Product Style 3"><span>Product Style 3</span></a></li>
                                <li><a href="shop4.html" data-title="Product Style 4"><span>Product Style 4</span></a></li>
                                <li><a href="shop-list.html" data-title="Product Style 5"><span>Product Style 5</span></a></li>
                            </ul>
                        </div>
                        <div class="col-3 mega-mnu-item">
                            <h5 class="mega-mnu-heading">Shop pages</h5>
                            <ul class="main-sub-mnu-list main-sub-mnu-listh">
                                <li><a href="cart.html" data-title="Cart"><span>Cart</span></a></li>
                                <li><a href="checkout.html" data-title="Checkout"><span>Checkout</span></a></li>
                                <li><a href="wishlist.html" data-title="Wishlist"><span>Wishlist</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children">
            <a href="news.html" data-title="News">
                <span>News</span>
                <i class="material-icons">expand_more</i>
            </a>
            <ul>
                <li><a href="news.html" data-title="List News"><span>List News</span></a></li>
                <li><a href="news-grid.html" data-title="Grid News"><span>Grid News</span></a></li>
                <li><a href="news-grid-2.html" data-title="Grid News 2"><span>Grid News 2</span></a></li>
                <li><a href="news-right-sidebar.html" data-title="News right sidebar"><span>News right sidebar</span></a></li>
                <li><a href="news-left-sidebar.html" data-title="News left sidebar"><span>News left sidebar</span></a></li>
                <li><a href="news-post.html" data-title="News Post"><span>News Post</span></a></li>
                <li><a href="news-timeline.html" data-title="News Timeline"><span>News Timeline</span><div class="mnu-label">hot</div></a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="gallery.html" data-title="Gallery">
                <span>Gallery</span>
                <i class="material-icons">expand_more</i>
            </a>
            <ul>
                <li><a href="gallery.html" data-title="Grid Padding Gallery"><span>Grid Padding Gallery</span></a></li>
                <li><a href="gallery-2.html" data-title="Grid No Padding Gallery"><span>Grid No Padding Gallery</span></a></li>
                <li><a href="gallery-3.html" data-title="Grid Masonry"><span>Grid Masonry</span></a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="contact-us.html" data-title="Contact Us">
                <span>Contact Us</span>
                <i class="material-icons">expand_more</i>
            </a>
            <ul>
                <li><a href="contact-us.html" data-title="Contact Us 1"><span>Contact Us 1</span></a></li>
                <li><a href="contact-us-2.html" data-title="Contact Us 2"><span>Contact Us 2</span></a></li>
                <li><a href="contact-us-3.html" data-title="Contact Us 2"><span>Contact Us 3</span></a></li>
            </ul>
        </li>
    </ul>
</nav><!-- End main menu -->