# Application Configuration
PORT=5555

# Microservices URLs
USERS_URL=http://softmix.users:3333/api
SHOP_URL=http://softmix.shop:4444/api
UPLOADER_URL=http://softmix.uploader:7777/api
AUTH_SERVICE_URL=http://softmix.users:3333/api/users/jwt/verify

# Внешние сервисы управляются через админ-панель (/admin/services)
# AL_STYLE_URL=https://alstyle-portal/api
# AL_STYLE_TOKEN=token
