# PostgreSQL Configuration
POSTGRES_HOST=softmix.postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=test
POSTGRES_DB=softmix-shop

# Application Configuration
PORT=4444

# JWT Configuration (for auth verification)
JWT_ACCESS_SECRET=your-secret-access-token-change-me
