# MongoDB Configuration
MONGO_HOST=softmix.mongodb
MONGO_PORT=27017
MONGO_DB=softmix-users
MONGO_USER=admin
MONGO_PASSWORD=test
MONGO_AUTH_BASE=admin

# Application Configuration
PORT=3333

# JWT Configuration
JWT_ACCESS_SECRET=your-secret-access-token-change-me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-secret-refresh-token-change-me
JWT_REFRESH_EXPIRES_IN=7d
