<!-- Begin footer -->
<footer class="footer footer-center">
    <div class="footer-main">
        <div class="container">
            <div class="row items">
                <div class="col-12 item">
                    <!-- Begin company info -->
                    <div class="footer-company-info">
                        <div class="footer-company-top">
                            <a href="/" class="logo" title="PathSoft">
                                <img data-src="assets/img/logo-white.svg" class="lazy" width="133" height="36" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="PathSoft">
                            </a>
                            <div class="footer-company-desc">
                                <p>Our company has been developing high-quality and reliable software for corporate needs since 2008. We are renowned professionals of software development.</p>
                            </div>
                        </div>
                        <ul class="footer-social-links">
                            <li>
                                <a href="#!" title="Facebook">
                                    <svg viewBox="0 0 320 512">
                                        <use xlink:href="assets/img/sprite.svg#facebook-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="assets/img/sprite.svg#instagram-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="assets/img/sprite.svg#linkedin-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter">
                                    <svg viewBox="0 0 512 512">
                                        <use xlink:href="assets/img/sprite.svg#twitter-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div><!-- End company info -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-12 item">
                    <div class="copyright">© 2021 PathSoft. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

<!-- Begin cookie message -->
<div class="cookie-message">
    <div class="cm-content">
        <h5 class="cmc-title">Cookies</h5>
        <p class="cmc-desc">We use cookies to understand how you use our site, to personalize content and to improve your experience. By continuing to use our site, you accept our use of cookies and revised. <a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
    <div class="mc-btn btn btn-with-icon btn-small ripple">
        <span>Accept cookies</span>
        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
    </div>
</div><!-- End cookie message -->