<!-- Begin footer -->
<footer class="footer">
    <div class="footer-main">
        <div class="container">
            <div class="row items">
                <div class="col-xl-3 col-lg-3 col-md-5 col-12 item">
                    <!-- Begin company info -->
                    <div class="footer-company-info">
                        <div class="footer-company-top">
                            <a href="/" class="logo" title="PathSoft">
                                <img data-src="assets/img/logo-white.svg" class="lazy" width="133" height="36" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="PathSoft">
                            </a>
                            <div class="footer-company-desc">
                                <p>Our company has been developing high-quality and reliable software for corporate needs since 2008. We are renowned professionals of software development.</p>
                            </div>
                        </div>
                        <ul class="footer-social-links">
                            <li>
                                <a href="#!" title="Facebook">
                                    <svg viewBox="0 0 320 512">
                                        <use xlink:href="assets/img/sprite.svg#facebook-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Instagram">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="assets/img/sprite.svg#instagram-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="LinkedIn">
                                    <svg viewBox="0 0 448 512">
                                        <use xlink:href="assets/img/sprite.svg#linkedin-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#!" title="Twitter">
                                    <svg viewBox="0 0 512 512">
                                        <use xlink:href="assets/img/sprite.svg#twitter-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End company info -->
                </div>
                <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item">
                    <div class="footer-item">
                        <p class="footer-item-heading">Menu</p>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="about-us.html" class="hover-link" data-title="About Us"><span>About Us</span></a></li>
                                <li><a href="services.html" class="hover-link" data-title="Services"><span>Services</span></a></li>
                                <li><a href="pricing.html" class="hover-link" data-title="Pricing"><span>Pricing</span></a></li>
                                <li><a href="news.html" class="hover-link" data-title="News"><span>News</span></a></li>
                                <li><a href="contact-us.html" class="hover-link" data-title="Contact Us"><span>Contact Us</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-7 item">
                    <div class="footer-item">
                        <p class="footer-item-heading">What We Offer</p>
                        <nav class="footer-nav">
                            <ul class="footer-mnu">
                                <li><a href="#!" class="hover-link" data-title="DB Management"><span>DB Management</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="IOS/MacOS"><span>IOS/MacOS</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Android Apps"><span>Android Apps</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="Windows Apps"><span>Windows Apps</span></a></li>
                                <li><a href="#!" class="hover-link" data-title="UX & UI"><span>UX & UI</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-4 col-lg-4 col-12 item">
                    <div class="footer-item">
                        <p class="footer-item-heading">Our contacts</p>
                        <ul class="footer-contacts">
                            <li>
                                <i class="material-icons md-22">location_on</i>
                                <div class="footer-contact-info">
                                    301 S Irving Blvd Los Angeles, CA 90020
                                </div>
                            </li>
                            <li>
                                <i class="material-icons md-22 footer-contact-tel">smartphone</i>
                                <div class="footer-contact-info">
                                    <a href="#!" class="formingHrefTel">+1 323-913-4688</a>, <a href="#!" class="formingHrefTel">+1 323-888-4554</a>
                                </div>
                            </li>
                            <li>
                                <i class="material-icons md-22 footer-contact-email">email</i>
                                <div class="footer-contact-info">
                                    <a href="mailto:mail@example.com">mail@example.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <p class="footer-item-heading">Subscribe</p>
                        <form action="#!" method="post" class="footer-subscribe">
                            <div class="form-field">
                                <label for="subscribe-email" class="form-field-label">Your email</label>
                                <input type="email" class="form-field-input" name="Subscribe_email" value="" autocomplete="off" required="required" id="subscribe-email">
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn ripple"><span>Subscribe</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between items">
                <div class="col-md-auto col-12 item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="terms-and-conditions.html">Terms and Conditions</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-auto col-12 item">
                    <div class="copyright">© 2021 PathSoft. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer -->

<!-- Begin сallback popup -->
<div id="сallback_popup" class="popup_style popup_style_sally open_popup" style="display:none;">
    <div class="popup">
        <div class="popup_content">
            <h4 class="popup_title">We will call you</h4>
            <form action="#!" method="post" class="сallback_popup_form">
                <!-- Begin hidden Field for send form -->
                <input type="hidden" name="form_subject" value="Pop up form">
                <!-- End hidden Field for send form -->
                <div class="form-field">
                    <label for="popup-field-name" class="form-field-label">Your name</label>
                    <input type="text" class="form-field-input" name="Name" value="" autocomplete="off" required="required" id="popup-field-name">
                </div>
                <div class="form-field">
                    <label for="popup-field-phone" class="form-field-label">Your phone</label>
                    <input type="tel" class="form-field-input mask-phone" name="Phone" value="" autocomplete="off" required="required" id="popup-field-phone">
                </div>
                <div class="form-field form-field-checkbox">
                    <div class="checkbox">
                        <input type="checkbox" class="checkbox-input" name="PrivacyPolicy" id="checkbox-popup">
                        <label for="checkbox-popup" class="checkbox-label">I agree to the transfer of personal data in accordance with the <a href="privacy-policy.html">Privacy Policy</a></label>
                    </div>
                </div>
                <div class="form-btn form-btn-wide">
                    <button type="submit" class="btn ripple"><span>Waiting for a Сall</span></button>
                </div>
            </form>
        </div>
        <div class="сallback_popup_close popup_close"><i class="material-icons md-24">close</i></div>
    </div>
</div><!-- End сallback popup -->

<!-- Begin cookie message -->
<div class="cookie-message">
    <div class="cm-content">
        <h5 class="cmc-title">Cookies</h5>
        <p class="cmc-desc">We use cookies to understand how you use our site, to personalize content and to improve your experience. By continuing to use our site, you accept our use of cookies and revised. <a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
    <div class="mc-btn btn btn-with-icon btn-small ripple">
        <span>Accept cookies</span>
        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
    </div>
</div><!-- End cookie message -->