<!-- Begin pagination -->
<nav class="pagination pagination-full">
    <ul class="pagination-list">
        <li class="pagination-item-arrow pagination-item-arrow-first pagination-item-disabled"><a href="#!"><i class="material-icons md-24">first_page</i></a></li>
        <li class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled"><a href="#!"><i class="material-icons md-24">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li><a href="#!">2</a></li>
        <li><a href="#!">3</a></li>
        <li><span>...</span></li>
        <li><a href="#!">12</a></li>
        <li><a href="#!">13</a></li>
        <li><a href="#!">14</a></li>
        <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i class="material-icons md-24">chevron_right</i></a></li>
        <li class="pagination-item-arrow pagination-item-arrow-last"><a href="#!"><i class="material-icons md-24">last_page</i></a></li>
    </ul>
</nav><!-- End pagination -->